@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #fefefe;
}

.wrapper {
    @apply max-w-6xl mx-auto my-0;
}

.cards-container {
    @apply flex flex-wrap gap-6 justify-center items-center p-5;
}

.info {
    @apply text-info text-2xl font-bold;
}

.nav-btn {
    @apply btn btn-ghost normal-case text-lg text-accent-content;
}

.title {
    @apply text-center text-3xl font-bold mt-4;
}